* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.header {
  display: inline-block;
  background-color: #28BFFA;
  color:white;
  font-size: larger;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 1% 0;
}

.header nav {
  margin-bottom: -1%;
  background-color: rgba(255, 255, 255, 0.5);
}

.header nav a {
  color: #373737;
  font-size: medium;
  font-weight: bold;
  padding: 1%;
}

.header nav a:hover {
  text-decoration-line: underline;
}

.container {
  overflow-y: auto;
}

.container section {
  padding: 1%;
}

.container section h2 {
  padding-bottom: 1%;
  text-transform: uppercase;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articles article {
  width: 31%;
  border-radius: 1%;
  background-color: #ffffff78;
}

.articles article * {
  color: black;
  padding: 1% 2%;
}

.articles article img {
  width: 100%;
  border-radius: 1% 1% 0 0;
  padding: 0;
}

.article_footer {
  display: flex;
  font-size: small;
  justify-content: space-between;
}

.article_footer time {
  color: #2c2c2c;
  padding-left: 0;
}

.article_footer a {
  display: inline-block;
  border: 2px transparent solid;
  border-radius: 4px;
  font-weight: bold;
}

.article_footer a:hover {
  opacity: 0.9;
}

#sport, #sport .article_footer a {
  background-color: #1382AD;
}

#economy, #economy .article_footer a  {
  background-color: #36AD4A;
}

#entertainment, #entertainment .article_footer a  {
  background-color: #FA6334;
}

#technology, #technology .article_footer a  {
  background-color: #c0c0c0;
}